*,*::after,*::before {

    box-sizing: border-box;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}



header {

    background-image: url(img/landscape.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.top-panel {

background: #ffffff;

}
.left-header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    line-height: 40px;
    background: #ffffff;
    border-radius: 35px 0 0 35px;
   
}
.right-header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    background: #ffffff;
    border-radius: 0 35px 35px 0;
    line-height: 40px;
}



.header-logo{
    margin-right: 60px;
    


}
.header-item {
    display: inline-block;
    font-size: 14px;
    margin-right: 40px;
    color: #64879e;
    text-transform: uppercase;
    font-weight: bold;
}


.sign-in-block {
    float: right;   
    /* line-height: 40px; */
    
   
    
}

.social-networks{
    margin-right: 18px;
}

.site-name {
    margin-top: 197px;
    margin-bottom: 60px;
    color:white;
    text-align: center;
    
}

.title-main {   
    /* margin-top: 196px; */
    font-size: 60px;
}

.item-text {
    font-size: 18px;
    color:#ffffff;
}


.title-button {
    color: #3f6b86;
    background: #ffffff;
    font-size: 24px;
    border:none;
    border-radius: 10px;
    padding: 15px 35px 15px 35px ;
    font-weight: bold;
    border-radius: 50px;
    line-height: 24px;
}

.title-button:focus {
    outline: none;
}

.user-photo {
    margin-right: 10px;
}

.fa-film {
    font-size: 16px;
    margin-right: 15px;
    color: #ffffff;
}


.start {
    background: #ffffff;
    padding-top: 100px;
}

.choose-climb {
    text-align: center;
}

.summit-title{
    font-size: 30px;
    color: #858e91;
}