*,*::after,*::before {

    box-sizing: border-box;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}



header {

    background-image: url(img/landscape.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.top-panel {

background: #ffffff;

}
.left-header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    line-height: 40px;
    background: #ffffff;
    border-radius: 35px 0 0 35px;
    
}

.right-header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    background: #ffffff;
    border-radius: 0 35px 35px 0;
    border-right: none;
   
    
}



.header-logo{
    margin-right: 60px;
    


}
.header-item {
    display: inline-block;
    font-size: 14px;
    margin-right: 40px;
    color: #64879e;
    text-transform: uppercase;
    font-weight: bold;
}


.sign-in-block {
    float: right;   
    line-height: 40px;
    
   
    
}

.social-networks{
    margin-right: 18px;
}

.site-name {
    margin-top: 197px;
    margin-bottom: 60px;
    color:white;
    text-align: center;
    
}

.title-main {   
    /* margin-top: 196px; */
    font-size: 60px;
}

.item-text {
    font-size: 18px;
    color:#ffffff;
}


.title-button {
    color: #3f6b86;
    background: #ffffff;
    font-size: 24px;
    border:none;
    border-radius: 10px;
    padding: 15px 35px 15px 35px ;
    font-weight: bold;
    border-radius: 50px;
    line-height: 24px;
}

.title-button:focus {
    outline: none;
}

.user-photo {
    margin-right: 10px;
}

.fa-film {
    font-size: 16px;
    margin-right: 15px;
    color: #ffffff;
}


.start {
    background: #ffffff;
    padding-top: 100px;
    padding-bottom: 110px;
}

.choose-climb {
    text-align: center;
}

.summit-title{
    font-size: 30px;
    color: #858e91;
}

.filter-button {
    background-color:#e5e5e5;
    border-radius: 30px;
    border:none;
    color:#727272;
}

.summit-choose {
    font-size: 16px;
    color:#9f9f9f;
}

.start-button {
    margin-top: 75px;
    font-size: 24px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    background:#2f5f7c
}


.events {
    background: url(img/event-bg.png) no-repeat center;
    background-size: cover;
    padding-top: 80px;
    padding-left: 175px;
    padding-right: 175px;
    padding-bottom: 100px;
    color:#ffffff;
    
}

.fa-calendar-minus {
    color:#ffffff;
    font-size:20px;
    margin-right: 10px;
}

.event-title {
    font-size: 18px;
}


.form-inline {
    float: right;
}

.form-inline .seacrh-event {
    border-radius: 40px;
    color: #ffffff;
    background: transparent;
   
}

.form-inline .seacrh-event::placeholder {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
    
}




.mountain-list {
    margin-top: 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}



.mountain-item {
    border-bottom: 5px#7f8996 solid;
    padding-bottom: 20px;
}

.mountain-item:hover {
    border-bottom: 5px#d9dce0 solid;
    cursor: pointer;
}

.event-list {
    margin-top: 80px;
}



.event-card-logo {
    display: block;
    width: 100%;
}



.event-card-info {
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    border-radius: 0 0 10px 10px;
}


.event-name {
    font-size:14px;
    color: #305f7d;
    text-transform: uppercase;
    font-weight: bold;
}

.event-date {
    font-size:12px;
    color:#9f9f9f;
}

.event-followers {
    color: #305f7d;
    font-weight: bold;
}

.more-button {
    
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    background:#2f5f7c;
    
}

.event-button {
    text-align: right;
}


/* TOP CLIMBERS SECTION */

.top-climbers {
    text-align: center;
    padding-top: 65px;
    padding-bottom: 85px;
    
}


.climber-container {
    margin-top: 20px;
    
}



.climber-name {
    
    max-width: 290px;   
    padding-top:10px;  
    font-size: 18px;
    text-align:center;
    position: relative;
    counter-reset: item; 
    color: #305f7d;
    font-weight: bold;
    box-shadow:-2px -2px 3px 0px #c0bebe;
    border-top-right-radius:50px; 
    background-color: white;
}

.climber-comment {
    max-width:500px;  
    text-align: left;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 0 3px 2px #c0bebe;
    


}

.climber-logo {
    position: absolute;
    left: 5px;
    top: 20px;
}

.climber-name:before {
    position: absolute;
    counter-increment:item;
    content: counter(item);
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #305f7d;
    background-color: #305f7d;
    color: #ffffff;
    left:50px;
    bottom:-50px;
    z-index: 2;
    font-size: 14px;
    font-weight: bold;
}


.climber-name > p {
margin: 0;
padding-left: 10px;
}

.climber-comment > p {
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.fa-star {
    color: #ffc000;
}


@media screen and (max-width: 1300px) {
    .header-item {
    margin-right: 20px;
    }

    .header-logo {
        margin-right: 30px;
    }
}

@media screen and (max-width: 992px) {
    .left-header {
        padding-top: 15px;
        padding-bottom: 15px;  
        padding-left:0;
        padding-right: 0;  
        background: #ffffff;
        border-radius: 35px 35px 35px 35px;
        text-align: center;
       

        
    }
    .header-logo {
        margin-right: 0;
    }
    .header-item {
        display: block;
        margin: 0;
        line-height: 30px;
    }

    .right-header {
        margin-top:10px;
        text-align: center;
        border-radius: 35px 35px 35px 35px;
        padding-right: 0;
        padding-left: 0;
        
    }

    .sign-in-block {
        float: none;
    }

    .social-networks {
        margin-right:0px;
    }

    .site-name {
        margin-top: 80px;
    }
    
    .start {
        padding: 50px 0 50px 0;
    }


    .mountain-list {
        margin-top: 30px;
    }

    .mountain-item {
        border-bottom: 5px#7f8996 solid;
        padding-bottom:0;
        margin-top: 20px;
       
    }

    .form-inline .seacrh-event::placeholder { 
        font-size: 16px;   
    }

    .event-title {
        font-size: 16px;
    }

    .event-list {
        margin-top: 0;
    }

    .event-card {
        margin-top: 35px;
    }

    .events {
    padding-top:40px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0; 
    }

    .top-climbers{
        padding-top: 30px;
        padding-bottom: 40px;
    }

}



@media screen and (max-width: 445px) {

    .user-photo {
        margin-right:0;
     
    }

    .item-text {
        font-size: 13px;
    }
}

@media screen and (max-width: 320px) {
    .user-photo {
        height: 20px;
        width: 20px;
    }

    .form-inline .seacrh-event::placeholder { 
        font-size: 13px;   
    }

}
